@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Geo);

body {
    margin: 10;
    padding: 20;
    background-color: #3498db;
}

.hiddenText {
    fon-family: Lato, Geo;
    visibility: hidden;
    height: 0;
}

